Repository geehexx/traffic-simulator: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, bandit, radon, bazel-build, markdownlint, markdown-link-check, cspell, rules-validation

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-ast
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: debug-statements
      - id: detect-private-key
      - id: mixed-line-ending
      - id: name-tests-test
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.6.8
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: timeout 45 uv run pyright --stats
        language: system
        types: [python]
        files: ^src/.*\.py$
        pass_filenames: false
      - id: bandit
        name: bandit
        entry: timeout 30 bash -c 'uv run bandit -r src/ -c config/bandit.yaml'
        language: system
        types: [python]
        pass_filenames: false
      - id: radon
        name: radon
        entry: timeout 30 bash -c 'uv run radon cc src/ -a --min B'
        language: system
        types: [python]
        pass_filenames: false
      - id: bazel-build
        name: bazel-build
        entry: timeout 60 bazel build --config=precommit //...
        language: system
        types: [python]
        pass_filenames: false
        description: "Run Bazel build with caching to ensure all targets compile and quality gates pass"
      - id: commitlint
        name: commitlint
        entry: timeout 30 bash -c 'echo "$1" | npx commitlint --config config/commitlint.config.js'
        language: system
        stages: [commit-msg]
        always_run: true
      - id: markdownlint
        name: markdownlint
        entry: timeout 30 bash -c 'npx markdownlint docs/**/*.md --ignore docs/prompts/'
        language: system
        types: [markdown]
        files: ^docs/.*\.md$
      - id: markdown-link-check
        name: markdown-link-check
        entry: timeout 30 bash -c 'npx markdown-link-check --config config/markdownlint.yaml docs/**/*.md || true'
        language: system
        types: [markdown]
        files: ^docs/.*\.md$
      - id: cspell
        name: cspell
        entry: timeout 30 bash -c 'npx cspell --config config/cspell.json "docs/**/*.md"'
        language: system
        types: [markdown]
        files: ^docs/.*\.md$
      - id: rules-validation
        name: rules-validation
        entry: timeout 30 bash -c 'python scripts/validate_rules.py'
        language: system
        types: [markdown]
        files: ^\.cursor/rules/.*\.mdc$

docs: add system verification guide and tool reference card
  mcp/SYSTEM_VERIFICATION_GUIDE.md
  mcp/TOOL_REFERENCE_CARD.md
Due: none

docs: add final deployment summary
  mcp/FINAL_DEPLOYMENT_SUMMARY.md
Due: none

feat: Complete FastMCP optimization platform
  mcp/FINAL_SUMMARY_REPORT.md
  mcp/INTEGRATION_GUIDE.md
  mcp/MAINTENANCE_GUIDE.md
  mcp/README.md
  mcp/advanced_optimization.py
  mcp/continuous_monitoring.py
  mcp/deploy_production.py
  mcp/fastmcp_test_server.py
  mcp/mcp_traffic_sim/production_server.py
  mcp/minimal_mcp_server.py
  mcp/monitoring_dashboard.py
  mcp/performance_benchmarks.py
  mcp/production_validation.py
  mcp/simple_working_mcp_server.py
  mcp/test_mcp_fixes.py
  mcp/test_simple_mcp_server.py
  mcp/test_suite.py
Due: bandit, radon, bazel-build

feat: add agent-friendly prompt management system
  mcp/AGENT_PROMPT_SYSTEM_SUMMARY.md
  mcp/AGENT_PROMPT_WORKFLOWS.md
  mcp/MCP_PROMPT_TOOLS_READY.md
  mcp/REAL_WORLD_AGENT_EXAMPLE.md
  mcp/fastmcp_production_server.py
Due: bandit, radon, bazel-build

feat: migrate prompts to new system with git version control
  mcp/CLEANUP_SUMMARY.md
  mcp/FINAL_STATUS_REPORT.md
  mcp/PROMPT_SYSTEM_MIGRATION_COMPLETE.md
  mcp/prompt_manager.py
  mcp/prompt_optimizer.py
Due: bandit, radon, bazel-build

feat: update MCP configuration and roadmap
  .cursor/mcp.json
  ROADMAP.md
  mcp/README.md
Due: none

cleanup: remove deprecated files and consolidate MCP servers
  mcp/CHECKPOINT_SUMMARY.md
  mcp/DEPLOYMENT_COMPLETE.md
  mcp/FINAL_DEPLOYMENT_SUMMARY.md
  mcp/FINAL_SUMMARY_REPORT.md
  mcp/deploy_production.py
  mcp/deploy_production_system.py
  mcp/fastmcp_test_server.py
  mcp/mcp_traffic_sim/client_test.py
  mcp/mcp_traffic_sim/mcp_registry/integration_report.md
  mcp/mcp_traffic_sim/mcp_registry/prompts.json
  mcp/mcp_traffic_sim/production_server.py
  mcp/mcp_traffic_sim/prompt_registry.py
  mcp/mcp_traffic_sim/proper_mcp_optimization_tool.py
  mcp/mcp_traffic_sim/register_core_prompts.py
  mcp/mcp_traffic_sim/server_dspy_optimization.py
  mcp/mcp_traffic_sim/server_with_optimization.py
  mcp/mcp_traffic_sim/simple_realtime_optimization.py
  mcp/mcp_traffic_sim/test_complete_system.py
  mcp/mcp_traffic_sim/test_dspy_system.py
  mcp/mcp_traffic_sim/test_mcp_server.py
  mcp/mcp_traffic_sim/test_meta_optimizer_with_llm.py
  mcp/mcp_traffic_sim/test_prompt_execution.py
  mcp/mcp_traffic_sim/test_realtime_optimization.py
  mcp/minimal_mcp_server.py
  mcp/production_validation.py
  mcp/simple_working_mcp_server.py
  mcp/test_mcp_fixes.py
  mcp/test_simple_mcp_server.py
  mcp/test_suite.py
Due: bandit, radon, bazel-build

feat: consolidate and optimize production system restoration prompt
  .cspell.json
  docs/PRODUCTION_SYSTEM_RESTORATION_PROMPT.md
Due: markdownlint, markdown-link-check, cspell

feat: restore production DSPy optimization system with advanced file management
  docs/MCP_PROMPT_MANAGEMENT_SYSTEM.md
  docs/PRODUCTION_SYSTEM_RESTORATION_PROMPT.md
  mcp/advanced_optimization.py
  mcp/continuous_monitoring.py
  mcp/fastmcp_test_server.py
  mcp/mcp_traffic_sim/advanced_file_manager.py
  mcp/mcp_traffic_sim/production_server.py
  mcp/monitoring_dashboard.py
  mcp/performance_benchmarks.py
  mcp/prompt_manager.py
  mcp/prompt_optimizer.py
  prompts/agent_scaffolding_general.json
  prompts/agent_scaffolding_maintenance.json
  prompts/generate_docs.json
  prompts/generate_docs_hil_adaptive.json
  prompts/generate_docs_optimized_v1.json
  prompts/generate_rules.json
  prompts/generate_rules_optimized_v1.json
  prompts/hybrid_maintenance.json
  prompts/maintenance_with_files_direct.json
Due: bandit, radon, bazel-build, markdownlint, markdown-link-check, cspell

fix: resolve component initialization issues
  mcp/mcp_traffic_sim/advanced_file_manager.py
  requirements.txt
  scripts/validate_production_system.py
Due: bandit, radon, bazel-build

cleanup: remove validation script after successful restoration
  scripts/validate_production_system.py
Due: bandit, radon, bazel-build

feat: create new prompt management system
  prompts/generate_docs_super.json
  prompts/remove_prompts.json
Due: none

feat: implement actual MCP server tool for prompt removal
  mcp/mcp_traffic_sim/production_server.py
  prompts/agent_scaffolding_general.json
  prompts/agent_scaffolding_maintenance.json
  prompts/generate_docs.json
  prompts/generate_docs_hil_adaptive.json
  prompts/generate_docs_optimized_v1.json
  prompts/generate_rules.json
  prompts/generate_rules_optimized_v1.json
  prompts/hybrid_maintenance.json
  prompts/maintenance_with_files_direct.json
Due: bandit, radon, bazel-build

cleanup: remove remove_prompts prompt after successful implementation
  prompts/remove_prompts.json
Due: none

feat: optimize Enterprise Documentation Maintainer with HIL techniques
  prompts/generate_docs_final_optimized.json
Due: none

Initial commit
  .gitignore
  LICENSE
Due: none

docs: add v0.4 spec and starter config
  config/config.yaml
  docs/spec.md
Due: markdownlint, markdown-link-check, cspell

chore: add pytest and hypothesis for testing
  requirements.txt
Due: none

test: fix safety toggle test to compute required length analytically
  .coverage
  tests/test_sim.py
Due: bandit, radon, bazel-build

test: add pytest+hypothesis suite; CI workflow for regressions
  .github/workflows/ci.yml
  tests/conftest.py
  tests/test_sim.py
  tests/test_track.py
  tests/test_track_properties.py
Due: bandit, radon, bazel-build

ci,test: add coverage, cross-OS/python matrix; extend geometry and safety tests
  .github/workflows/ci.yml
  requirements.txt
  tests/test_sim.py
  tests/test_track.py
Due: bandit, radon, bazel-build

feat: random vehicle colors (seedable), speed_factor support, __main__ entrypoint
  src/traffic_sim/__main__.py
  src/traffic_sim/core/simulation.py
  src/traffic_sim/core/vehicle.py
  src/traffic_sim/render/app.py
Due: pyright, bandit, radon, bazel-build

feat: minimal working sim scaffold — track mapping, vehicle spawn/move, drawing, fixed-step loop
  src/traffic_sim/core/simulation.py
  src/traffic_sim/core/track.py
  src/traffic_sim/render/app.py
Due: pyright, bandit, radon, bazel-build

build: migrate to uv (pyproject deps), add Taskfile, pre-commit, CI uses uv; remove requirements.txt
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Taskfile.yml
  pyproject.toml
  requirements.txt
  src/traffic_sim/core/simulation.py
  src/traffic_sim/core/track.py
  src/traffic_sim/core/vehicle.py
  src/traffic_sim/render/app.py
Due: pyright, bandit, radon, bazel-build

docs/build: rewrite README; switch to uv+Taskfile; add pre-commit; update CI to uv
  .coverage
  Taskfile.yml
  pyproject.toml
  uv.lock
Due: none
