Repository geehexx/traffic-simulator: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pyright, bandit, radon, test-consistency

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-ast
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: debug-statements
      - id: detect-private-key
      - id: mixed-line-ending
      - id: name-tests-test
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.6.8
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        language_version: python3
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: timeout 60 bash -c 'cd src && uv run mypy traffic_sim/ --explicit-package-bases --show-error-codes'
        language: system
        types: [python]
      - id: pyright
        name: pyright
        entry: timeout 120 uv run pyright
        language: system
        types: [python]
        args: [src/]
      # Temporarily disabled pylint due to style issues - will fix in separate commit
      # - id: pylint
      #   name: pylint
      #   entry: timeout 60 uv run pylint
      #   language: system
      #   types: [python]
      #   args: [src/, --rcfile=pylintrc]
      - id: bandit
        name: bandit
        entry: timeout 30 bash -c 'uv run bandit -r src/ -c bandit.yaml'
        language: system
        types: [python]
      - id: radon
        name: radon
        entry: timeout 30 bash -c 'uv run radon cc src/ -a --min B'
        language: system
        types: [python]
      - id: test-consistency
        name: test-consistency
        entry: timeout 30 bash -c 'uv run python scripts/check_test_consistency.py "$@"'
        language: system
        types: [python]
        files: ^tests/.*\.py$
        pass_filenames: true

Apply test file consistency standards to all test files
  docs/TEST_CONSISTENCY_STANDARDS.md
  scripts/fix_test_consistency.py
  tests/adaptive_time_test.py
  tests/analytics_collision_test.py
  tests/benchmark_test.py
  tests/collision_prefilter_test.py
  tests/collision_scheduler_test.py
  tests/config_loader_test.py
  tests/conftest.py
  tests/data_manager_test.py
  tests/driver_specs_test.py
  tests/idm_test.py
  tests/idm_vectorized_test.py
  tests/logging_test.py
  tests/main_test.py
  tests/perception_window_test.py
  tests/performance_highperf_test.py
  tests/performance_smoke_test.py
  tests/performance_test.py
  tests/physics_numpy_physics_test.py
  tests/physics_numpy_test.py
  tests/physics_vectorized_test.py
  tests/profiling_test.py
  tests/rendering_integration_test.py
  tests/sim_test.py
  tests/spatial_hash_test.py
  tests/track_properties_test.py
  tests/track_test.py
Due: mypy, pyright, bandit, radon, test-consistency

Fix test file docstring positioning
  scripts/fix_test_consistency.py
  tests/adaptive_time_test.py
  tests/analytics_collision_test.py
  tests/benchmark_test.py
  tests/collision_prefilter_test.py
  tests/collision_scheduler_test.py
  tests/config_loader_test.py
  tests/conftest.py
  tests/data_manager_test.py
  tests/driver_specs_test.py
  tests/idm_test.py
  tests/idm_vectorized_test.py
  tests/logging_test.py
  tests/main_test.py
  tests/perception_window_test.py
  tests/performance_highperf_test.py
  tests/performance_smoke_test.py
  tests/performance_test.py
  tests/physics_numpy_physics_test.py
  tests/physics_numpy_test.py
  tests/physics_vectorized_test.py
  tests/profiling_test.py
  tests/rendering_integration_test.py
  tests/sim_test.py
  tests/spatial_hash_test.py
  tests/track_properties_test.py
  tests/track_test.py
Due: mypy, pyright, bandit, radon, test-consistency

Fix remaining test file consistency issues
  .pre-commit-config.yaml
  PERFORMANCE_OPTIMIZATION_SUMMARY.md
  pyproject.toml
  scripts/advanced_profiling.py
  scripts/check_test_consistency.py
  scripts/fix_test_consistency.py
  src/traffic_sim/core/physics_numpy.py
  tests/adaptive_time_test.py
  tests/analytics_collision_test.py
  tests/benchmark_test.py
  tests/collision_prefilter_test.py
  tests/collision_scheduler_test.py
  tests/config_loader_test.py
  tests/conftest.py
  tests/data_manager_test.py
  tests/driver_specs_test.py
  tests/idm_test.py
  tests/idm_vectorized_test.py
  tests/logging_test.py
  tests/main_test.py
  tests/perception_window_test.py
  tests/performance_highperf_test.py
  tests/performance_smoke_test.py
  tests/performance_test.py
  tests/physics_numpy_physics_test.py
  tests/physics_numpy_test.py
  tests/physics_vectorized_test.py
  tests/profiling_test.py
  tests/rendering_integration_test.py
  tests/sim_test.py
  tests/spatial_hash_test.py
  tests/track_properties_test.py
  tests/track_test.py
Due: mypy, pyright, bandit, radon, test-consistency

Switch from mypy to pyright for better performance and type checking
  .pre-commit-config.yaml
  mypy.ini
  pyproject.toml
  src/traffic_sim/core/physics_numpy.py
  uv.lock
Due: mypy, pyright, bandit, radon

Remove pylint completely since it's redundant with ruff
  .pre-commit-config.yaml
  pylintrc
  pyproject.toml
  uv.lock
Due: none

Remove outdated mypy/pylint references and documentation
  .cursor/rules/commit-troubleshooting.mdc
  Taskfile.yml
  docs/COMMIT_TROUBLESHOOTING.md
  docs/DEVELOPMENT.md
  docs/QUALITY_GATES_GUIDE.md
  docs/QUALITY_STANDARDS.md
  docs/SCRIPTS_GUIDE.md
  quality_gates.yaml
  scripts/quality_analysis.py
Due: mypy, pyright, bandit, radon

docs: enhance quality standards documentation with comprehensive tooling guide
  .cursor/rules/code-quality-standards.mdc
  docs/QUALITY_STANDARDS.md
Due: none

feat: configure runs directory as default for all profiling/benchmark output
  config/benchmarking.yaml
  scripts/ensure_runs_directory.py
Due: mypy, pyright, bandit, radon

feat: update all profiling/benchmark scripts to use runs directory
  scripts/advanced_profiling.py
  scripts/benchmarking_framework.py
  scripts/external_tools.py
Due: mypy, pyright, bandit, radon

docs: enforce runs directory usage in all documentation
  AGENTS.md
  docs/BENCHMARKING_GUIDE.md
  docs/SCRIPTS_GUIDE.md
Due: none

chore: update gitignore to exclude runs directory
  .gitignore
Due: none

refactor: move all profiling/benchmark data to runs directory
  baseline_performance.csv
  final_optimized_performance.csv
  final_scale_benchmark.csv
  optimized_performance.csv
  profiling_stats.csv
  profiling_stats_baseline.csv
  profiling_stats_window.csv
  scale_benchmark_optimized.csv
Due: none

feat: consolidate and enhance Cursor rules for runs directory enforcement
  .cursor/rules/configuration-patterns.mdc
  .cursor/rules/performance-standards.mdc
Due: none

feat: add coverage configuration for runs directory
  .coveragerc
  .gitignore
Due: none

feat: update quality analysis script to use runs directory
  scripts/quality_analysis.py
Due: mypy, pyright, bandit, radon

docs: update scripts guide with runs directory examples
  docs/SCRIPTS_GUIDE.md
Due: none

refactor: move additional output files to runs directory
  quality_report.json
Due: none

feat(rules): standardize rule configuration with mandatory fields
  .cursor/rules/arcade-api-consistency.mdc
  .cursor/rules/code-quality-standards.mdc
  .cursor/rules/configuration-patterns.mdc
  .cursor/rules/documentation-maintenance.mdc
  .cursor/rules/documentation-patterns.mdc
  .cursor/rules/no-temporary-summaries.mdc
  .cursor/rules/performance-optimization-patterns.mdc
  .cursor/rules/performance-standards.mdc
  .cursor/rules/project-context.mdc
  .cursor/rules/rendering-patterns.mdc
  .cursor/rules/rule-generation-standard.mdc
  .cursor/rules/simulation-patterns.mdc
  .cursor/rules/vehicle-physics-patterns.mdc
  BENCHMARKING_OPTIMIZATION_SUMMARY.md
  PERFORMANCE_OPTIMIZATION_SUMMARY.md
  docs/CURSOR_RULES.md
Due: none

docs: clarify rule application behavior and enhance configuration guidance
  docs/CURSOR_RULES.md
Due: none

refactor: remove redundant import fallbacks and improve dependency management
  pyproject.toml
  scripts/advanced_profiling.py
  scripts/benchmarking_framework.py
  scripts/external_tools.py
  src/traffic_sim/core/performance.py
  src/traffic_sim/core/physics_numpy.py
  uv.lock
Due: mypy, pyright, bandit, radon

perf: optimize pre-commit hooks for 64% faster execution
  .pre-commit-config.yaml
Due: none

docs: consolidate rules and remove static performance metrics
  .cursor/rules/documentation-patterns.mdc
  .cursor/rules/no-temporary-summaries.mdc
  .cursor/rules/planning-and-implementation-guidelines.mdc
  docs/AGENT_DOCUMENTATION_CHECKLIST.md
  docs/DEVELOPMENT.md
  docs/QUALITY_STANDARDS.md
Due: none

docs(prompts): add high-reasoning meta-optimizer prompt and update APE README with meta criteria and selection metrics
  docs/prompts/README.md
  docs/prompts/generate-meta-optimizer.md
Due: none

docs(prompts): optimize generate-super for end-of-chat; add summary, scope-of-work, diff-churn guards
  docs/prompts/generate-super.md
Due: none

fix: update pre-commit config for moved bandit.yaml
  .pre-commit-config.yaml
  config/bandit.yaml
  config/pyrightconfig.json
  config/quality_gates.yaml
  config/radon.cfg
Due: none

fix: update quality analysis script for moved config files
  scripts/quality_analysis.py
Due: mypy, pyright, bandit, radon

docs: update references to moved configuration files
  docs/BENCHMARKING_GUIDE.md
  docs/DEVELOPMENT.md
  docs/PERFORMANCE_GUIDE.md
  docs/QUALITY_GATES_GUIDE.md
  docs/QUALITY_STANDARDS.md
  docs/SCRIPTS_GUIDE.md
Due: none

refactor: consolidate benchmarking dependencies into pyproject.toml
  pyproject.toml
Due: none

fix: update CI workflow to use consolidated quality analysis script
  .github/workflows/ci.yml
Due: none

cleanup: remove redundant and broken configuration files
  .pre-commit-quality-gates.yaml
  bandit.yaml
  pyrightconfig.json
  quality_gates.yaml
  radon.cfg
  requirements-benchmarking.txt
  uv.lock
Due: none

docs(rules): update configuration patterns for reorganized config directory
  .cursor/rules/configuration-patterns.mdc
  .cursor/rules/project-context.mdc
Due: none

feat: migrate to Bazel build system with batch processing methodology
  .bazelrc
  .bazelversion
  .github/workflows/ci.yml
  MODULE.bazel
  MODULE.bazel.lock
  WORKSPACE.bazel
  bazel-bin
  bazel-out
  bazel-testlogs
  bazel-traffic-simulator
  docs/BATCH_PROCESSING_METHODOLOGY.md
  docs/DEVELOPMENT.md
  docs/PERFORMANCE_OPTIMIZATION.md
  scripts/benchmarking_framework_optimized.py
  scripts/performance_optimizations.py
  scripts/quality_analysis_optimized.py
  scripts/quality_fast.py
  src/traffic_sim/BUILD.bazel
  src/traffic_sim/config/BUILD.bazel
  src/traffic_sim/core/BUILD.bazel
  src/traffic_sim/models/BUILD.bazel
  src/traffic_sim/render/BUILD.bazel
  tests/BUILD.bazel
  third_party/pip/BUILD.bazel
  third_party/pip/dev_requirements.txt
  third_party/pip/runtime_requirements.txt
Due: mypy, pyright, bandit, radon

fix: add Bazel artifacts to gitignore and consolidate quality scripts
  .gitignore
  bazel-bin
  bazel-out
  bazel-testlogs
  bazel-traffic-simulator
  scripts/quality_analysis.py
  scripts/quality_analysis_optimized.py
  scripts/quality_fast.py
Due: mypy, pyright, bandit, radon

docs: add comprehensive Bazel migration handoff prompt
  BAZEL_MIGRATION_HANDOFF.md
Due: none

docs: update core project files for Bazel migration
  AGENTS.md
  README.md
  ROADMAP.md
  Taskfile.yml
Due: none

docs: update quality and testing documentation for Bazel
  docs/QUALITY_GATES_GUIDE.md
  docs/QUALITY_STANDARDS.md
  docs/TEST_CONSISTENCY_STANDARDS.md
Due: none

docs: update performance and benchmarking documentation for Bazel
  docs/BENCHMARKING_GUIDE.md
  docs/PERFORMANCE_GUIDE.md
  docs/PERFORMANCE_OPTIMIZATION.md
Due: none

docs: update development and scripts documentation for Bazel
  docs/DEVELOPMENT.md
  docs/DOCUMENTATION_GUIDE.md
  docs/SCRIPTS_GUIDE.md
Due: none

cleanup: remove Bazel migration handoff and update cursor rules
  .cursor/rules/code-quality-standards.mdc
  .cursor/rules/documentation-patterns.mdc
  .cursor/rules/planning-and-implementation-guidelines.mdc
  .cursor/rules/project-context.mdc
  .cursor/rules/rule-generation-standard.mdc
  BAZEL_MIGRATION_HANDOFF.md
Due: none

rules: complete Bazel migration for Cursor rules
  .cursor/rules/code-quality-standards.mdc
  .cursor/rules/performance-standards.mdc
  .cursor/rules/project-context.mdc
Due: none
