Repository geehexx/traffic-simulator: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, bandit, radon

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-ast
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: debug-statements
      - id: detect-private-key
      - id: mixed-line-ending
      - id: name-tests-test
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.6.8
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: timeout 45 uv run pyright --stats
        language: system
        types: [python]
        files: ^src/.*\.py$
        pass_filenames: false
      - id: bandit
        name: bandit
        entry: timeout 30 bash -c 'uv run bandit -r src/ -c bandit.yaml'
        language: system
        types: [python]
        pass_filenames: false
      - id: radon
        name: radon
        entry: timeout 30 bash -c 'uv run radon cc src/ -a --min B'
        language: system
        types: [python]
        pass_filenames: false

fix: move pre-commit config to root directory
  .pre-commit-config.yaml
Due: none

test: verify pre-commit works without environment variable
  test_precommit.txt
Due: none

cleanup: remove test file
  test_precommit.txt
Due: none

cleanup: remove stale pre-commit config from config directory
  config/.pre-commit-config.yaml
  docs/CURSOR_RULES.md
Due: none

fix: add missing frontmatter to agent-planning-standards.mdc
  .cursor/rules/agent-planning-standards.mdc
Due: none

feat: optimize dependency management and Bazel caching
  .bazelrc
  .pre-commit-config.yaml
  config/Taskfile.yml
  docs/DEVELOPMENT.md
  pyproject.toml
  requirements.txt
  src/traffic_sim/core/physics_numpy.py
  uv.lock
Due: pyright, bandit, radon

fix: unignore .cursor/rules directory for proper indexing
  .cursorignore
Due: none

docs: update Bazel workflow and configuration patterns for precommit optimization
  .cursor/rules/bazel-workflow-patterns.mdc
  .cursor/rules/configuration-patterns.mdc
Due: none

docs: add preventive measures for cursor indexing issues
  .cursor/rules/configuration-patterns.mdc
  docs/CURSOR_RULES.md
Due: none

Clean up legacy scripts and references
  ROADMAP.md
  docs/BAZEL_PERFORMANCE_GUIDE.md
  docs/BENCHMARKING_GUIDE.md
  docs/DEVELOPMENT.md
  docs/PERFORMANCE_GUIDE.md
  docs/QUALITY_GATES_GUIDE.md
  docs/QUALITY_STANDARDS.md
  docs/SCRIPTS_GUIDE.md
  scripts/BUILD.bazel
  scripts/bazel_performance_monitor.py
  scripts/ensure_runs_directory.py
  scripts/migrate_performance_tests.py
  scripts/performance_optimizations.py
  scripts/validation_test.py
  tests/benchmark_test.py
  tests/performance_highperf_test.py
  tests/performance_smoke_test.py
  tests/performance_test.py
  tests/validation_test.py
Due: bandit, radon

Fix broken references and inconsistencies
  ROADMAP.md
  config/Taskfile.yml
  docs/BENCHMARKING_GUIDE.md
  docs/DEVELOPMENT.md
  docs/PERFORMANCE_GUIDE.md
  docs/PERFORMANCE_OPTIMIZATION.md
  docs/QUALITY_STANDARDS.md
  docs/SCRIPTS_GUIDE.md
  scripts/benchmarking_framework.py
Due: bandit, radon

feat: implement comprehensive enforcement system for commit messages, documentation, and rules
  .cursor/rules/agent-planning-standards.mdc
  .cursor/rules/bazel-workflow-patterns.mdc
  .cursor/rules/code-quality-standards.mdc
  .cursor/rules/configuration-patterns.mdc
  .cursor/rules/planning-and-implementation-guidelines.mdc
  .cursor/rules/project-context.mdc
  .markdownlint.yaml
  .pre-commit-config.yaml
  README.md
  commitlint.config.js
  config/Taskfile.yml
  config/quality_gates.yaml
  cspell.json
  docs/DEVELOPMENT.md
  docs/DOCUMENTATION_GUIDE.md
  docs/ENFORCEMENT_TROUBLESHOOTING.md
  docs/QUALITY_GATES_GUIDE.md
  package-lock.json
  package.json
  scripts/validate_rules.py
Due: bandit, radon

refactor: move configuration files to config/ directory
  .pre-commit-config.yaml
  config/commitlint.config.js
  config/cspell.json
  config/markdownlint.yaml
  docs/ENFORCEMENT_TROUBLESHOOTING.md
Due: none

feat: add MCP server for Git and task operations
  .cursor/mcp.json
  .gitignore
  mcp/README.md
  mcp/mcp_traffic_sim/__init__.py
  mcp/mcp_traffic_sim/config.py
  mcp/mcp_traffic_sim/git/__init__.py
  mcp/mcp_traffic_sim/git/adapter.py
  mcp/mcp_traffic_sim/git/schemas.py
  mcp/mcp_traffic_sim/git/tools.py
  mcp/mcp_traffic_sim/logging_util.py
  mcp/mcp_traffic_sim/security.py
  mcp/mcp_traffic_sim/server.py
  mcp/mcp_traffic_sim/tasks/__init__.py
  mcp/mcp_traffic_sim/tasks/bazel_runner.py
  mcp/mcp_traffic_sim/tasks/schemas.py
  mcp/mcp_traffic_sim/tasks/tools.py
  mcp/mcp_traffic_sim/tasks/uv_runner.py
  mcp/mcp_traffic_sim/tests/__init__.py
  mcp/mcp_traffic_sim/tests/test_git_adapter_test.py
  mcp/pyproject.toml
Due: bandit, radon

docs: add MCP integration guide and update development documentation
  .cursor/rules/bazel-workflow-patterns.mdc
  .cursor/rules/mcp-development-patterns.mdc
  config/cspell.json
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT.md
  docs/MCP_INTEGRATION.md
Due: none

feat: extend cspell with Python dictionaries to reduce hard-coded strings
  .cspell/python-libraries.txt
  .cspell/traffic-sim-project.txt
  config/cspell.json
Due: none

docs: update documentation for cspell Python dictionary improvements
  docs/DOCUMENTATION_GUIDE.md
  docs/ENFORCEMENT_TROUBLESHOOTING.md
  docs/QUALITY_GATES_GUIDE.md
Due: none

feat: implement context optimization system
  .cursor/rules/configuration-patterns.mdc
  .cursor/rules/performance-optimization-patterns.mdc
  .cursor/rules/performance-optimization.mdc
  .cursor/rules/performance-standards.mdc
  .cursor/rules/project-context.mdc
  config/Taskfile.yml
  config/quality_gates.yaml
  scripts/validate_context_optimization.py
Due: bandit, radon

feat: optimize high-impact rules for context reduction
  .cursor/rules/bazel-workflow-patterns.mdc
  .cursor/rules/documentation-maintenance.mdc
  .cursor/rules/planning-and-implementation-guidelines.mdc
  .cursor/rules/rule-generation-standard.mdc
  .cursor/rules/simulation-patterns.mdc
  mcp/mcp_traffic_sim/prompts/__init__.py
  mcp/mcp_traffic_sim/prompts/dspy_modules.py
  mcp/mcp_traffic_sim/prompts/evaluator.py
  mcp/mcp_traffic_sim/prompts/meta_optimizer.py
  mcp/mcp_traffic_sim/prompts/registry.py
  mcp/mcp_traffic_sim/prompts/schemas.py
  mcp/mcp_traffic_sim/prompts/tools.py
Due: bandit, radon

feat: optimize remaining high-impact rules for context reduction
  .cursor/rules/agent-planning-standards.mdc
  .cursor/rules/documentation-patterns.mdc
  .cursor/rules/mcp-development-patterns.mdc
  .cursor/rules/performance-optimization.mdc
  .cursor/rules/rendering-patterns.mdc
  .cursor/rules/vehicle-physics-patterns.mdc
Due: none
