Repository geehexx/traffic-simulator: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, bandit, radon, bazel-build, markdownlint, markdown-link-check, cspell, rules-validation

pyright:
  name: pyright
  entry: timeout 45 uv run pyright --stats
  language: system
  pass_filenames: false

bandit:
  name: bandit
  entry: timeout 30 bash -c 'uv run bandit -r src/ -c config/bandit.yaml'
  language: system
  pass_filenames: false

radon:
  name: radon
  entry: timeout 30 bash -c 'uv run radon cc src/ -a --min B'
  language: system
  pass_filenames: false

bazel-build:
  name: bazel-build
  entry: timeout 60 bazel build --config=precommit //...
  language: system
  pass_filenames: false
  description: Run Bazel build with caching to ensure all targets compile and quality gates pass

markdownlint:
  name: markdownlint
  entry: timeout 30 bash -c 'npx markdownlint docs/**/*.md --ignore docs/prompts/'
  language: system

markdown-link-check:
  name: markdown-link-check
  entry: timeout 30 bash -c 'npx markdown-link-check --config config/markdownlint.yaml docs/**/*.md || true'
  language: system

cspell:
  name: cspell
  entry: timeout 30 bash -c 'npx cspell --config config/cspell.json "docs/**/*.md"'
  language: system

rules-validation:
  name: rules-validation
  entry: timeout 30 bash -c 'python scripts/validate_rules.py'
  language: system

feat: add semantic anchors to remaining rules
  .cursor/rules/arcade-api-consistency.mdc
  .cursor/rules/code-quality-standards.mdc
  docs/PROMPT_MANAGEMENT_PLAN.md
  docs/PROMPT_MANAGEMENT_SUMMARY.md
  mcp/mcp_traffic_sim/prompts/examples/migration_example.py
  mcp/mcp_traffic_sim/prompts/integration.py
  mcp/mcp_traffic_sim/prompts/requirements.txt
Due: bandit, radon, bazel-build, markdownlint, markdown-link-check, cspell

Remove implementation and achievements documentation; consolidate relevant information into existing files
  JIRA_IMPLEMENTATION_PLAN.md
  JIRA_MCP_INTEGRATION_GUIDE.md
  TODO_TO_JIRA_MIGRATION_STRATEGY.md
  docs/ARCHITECTURE.md
  docs/MCP_INTEGRATION.md
  docs/PROMPT_MANAGEMENT_PLAN.md
  docs/PROMPT_MANAGEMENT_SUMMARY.md
  mcp/mcp_traffic_sim/prompts/advanced_integration.py
  mcp/mcp_traffic_sim/prompts/advanced_tools.py
  mcp/mcp_traffic_sim/prompts/continuous_improvement.py
  mcp/mcp_traffic_sim/prompts/datasets.py
  mcp/mcp_traffic_sim/prompts/examples/phase3_demo.py
  mcp/mcp_traffic_sim/prompts/optimizers.py
  mcp/mcp_traffic_sim/prompts/schemas.py
Due: bandit, radon, bazel-build, markdownlint, markdown-link-check, cspell

Add comprehensive JIRA implementation files
  JIRA_IMPLEMENTATION_PLAN.md
  JIRA_MCP_INTEGRATION_GUIDE.md
  TODO_TO_JIRA_MIGRATION_STRATEGY.md
Due: none

fix: update MCP server configuration for proper tool detection
  .cursor/mcp.json
Due: none

feat: integrate prompt management system into main MCP server
  mcp/mcp_traffic_sim/server.py
Due: bandit, radon, bazel-build

refactor: migrate to optimal prompt management approach
  .markdownlintignore
  docs/AUTOMATED_PROMPT_ENGINEERING.md
  docs/MCP_PROMPTS/generate-meta-optimizer.md
  docs/MCP_PROMPTS/generate-super.md
  docs/PROMPT_OPTIMIZATION_GUIDE.md
  mcp/mcp_traffic_sim/examples/prompt_management/migration_example.py
  mcp/mcp_traffic_sim/examples/prompt_management/phase3_demo.py
  mcp/mcp_traffic_sim/prompts/__init__.py
  mcp/mcp_traffic_sim/prompts/advanced_integration.py
  mcp/mcp_traffic_sim/prompts/advanced_tools.py
  mcp/mcp_traffic_sim/prompts/continuous_improvement.py
  mcp/mcp_traffic_sim/prompts/datasets.py
  mcp/mcp_traffic_sim/prompts/dspy_modules.py
  mcp/mcp_traffic_sim/prompts/evaluator.py
  mcp/mcp_traffic_sim/prompts/integration.py
  mcp/mcp_traffic_sim/prompts/meta_optimizer.py
  mcp/mcp_traffic_sim/prompts/optimizers.py
  mcp/mcp_traffic_sim/prompts/registry.py
  mcp/mcp_traffic_sim/prompts/requirements.txt
  mcp/mcp_traffic_sim/prompts/schemas.py
  mcp/mcp_traffic_sim/prompts/tools.py
  mcp/mcp_traffic_sim/server.py
Due: bandit, radon, bazel-build, markdownlint, markdown-link-check, cspell

feat: implement complete prompt management system with optimal approach
  mcp/mcp_traffic_sim/continuous_improvement.py
  mcp/mcp_traffic_sim/meta_optimizer.py
  mcp/mcp_traffic_sim/prompt_registry.py
  mcp/mcp_traffic_sim/register_core_prompts.py
  mcp/mcp_traffic_sim/test_complete_system.py
  mcp/mcp_traffic_sim/test_prompt_execution.py
Due: bandit, radon, bazel-build

feat: implement complete DSPy-based prompt management system
  mcp/mcp_traffic_sim/dspy_modules.py
  mcp/mcp_traffic_sim/dspy_optimizers.py
  mcp/mcp_traffic_sim/dspy_signatures.py
  mcp/mcp_traffic_sim/meta_optimizer.py
  mcp/mcp_traffic_sim/prompt_registry.py
  mcp/mcp_traffic_sim/test_dspy_system.py
Due: bandit, radon, bazel-build

docs: update documentation for DSPy-based prompt management
  docs/AUTOMATED_PROMPT_ENGINEERING.md
  docs/PROMPT_OPTIMIZATION_GUIDE.md
Due: markdownlint, markdown-link-check, cspell

feat: implement production DSPy optimization system
  mcp/mcp_traffic_sim/alerting_system.py
  mcp/mcp_traffic_sim/dashboard_generator.py
  mcp/mcp_traffic_sim/feedback_collector.py
  mcp/mcp_traffic_sim/integration_system.py
  mcp/mcp_traffic_sim/monitoring_system.py
  mcp/mcp_traffic_sim/production_optimizer.py
  mcp/mcp_traffic_sim/production_server.py
Due: bandit, radon, bazel-build

feat: add production system configuration and documentation
  .cursor/mcp.json
  mcp/DEPLOYMENT_COMPLETE.md
  mcp/PRODUCTION_SYSTEM_GUIDE.md
  mcp/deploy_production_system.py
Due: bandit, radon, bazel-build

fix: shorten MCP tool names to meet 60-character limit
  mcp/mcp_traffic_sim/production_server.py
Due: bandit, radon, bazel-build

docs: update production system guide with shortened tool names
  mcp/PRODUCTION_SYSTEM_GUIDE.md
Due: none

docs: add checkpoint summary of production system completion
  mcp/CHECKPOINT_SUMMARY.md
Due: none

chore: update dependencies for production DSPy system
  mcp/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

fix: restore original MCP server functionality
  mcp/mcp_traffic_sim/server.py
Due: bandit, radon, bazel-build

docs: add implementation summary and user workflow guide
  mcp/mcp_traffic_sim/IMPLEMENTATION_SUMMARY.md
  mcp/mcp_traffic_sim/USER_WORKFLOW_GUIDE.md
Due: none

test: add comprehensive testing suite for DSPy optimization
  mcp/mcp_traffic_sim/client_test.py
  mcp/mcp_traffic_sim/test_mcp_server.py
  mcp/mcp_traffic_sim/test_meta_optimizer_with_llm.py
  mcp/mcp_traffic_sim/test_realtime_optimization.py
Due: bandit, radon, bazel-build

feat: add development and integration components
  docs/MCP_PROMPTS/generate-meta-optimizer.md
  docs/MCP_PROMPTS/generate-super.md
  mcp/mcp_traffic_sim/continuous_improvement.py
  mcp/mcp_traffic_sim/dspy_modules.py
  mcp/mcp_traffic_sim/dspy_optimizers.py
  mcp/mcp_traffic_sim/dspy_signatures.py
  mcp/mcp_traffic_sim/mcp_registry/integration_report.md
  mcp/mcp_traffic_sim/mcp_registry/prompts.json
  mcp/mcp_traffic_sim/meta_optimizer.py
  mcp/mcp_traffic_sim/prompt_integration_workflow.py
  mcp/mcp_traffic_sim/prompt_registry.py
  mcp/mcp_traffic_sim/proper_mcp_optimization_tool.py
  mcp/mcp_traffic_sim/register_core_prompts.py
  mcp/mcp_traffic_sim/server_dspy_optimization.py
  mcp/mcp_traffic_sim/server_with_optimization.py
  mcp/mcp_traffic_sim/simple_realtime_optimization.py
  mcp/mcp_traffic_sim/test_complete_system.py
  mcp/mcp_traffic_sim/test_dspy_system.py
  mcp/mcp_traffic_sim/test_prompt_execution.py
  mcp/mcp_traffic_sim/tools/optimize_prompt.py
Due: bandit, radon, bazel-build, markdownlint, markdown-link-check, cspell

fix: restore original MCP server configuration
  .cursor/mcp.json
Due: none

Path conditions:
  pyright: any of: ^src/.*\.py$ and \.py$
  bandit: any of: \.py$
  radon: any of: \.py$
  bazel-build: any of: \.py$
  markdownlint: any of: ^docs/.*\.md$ and \.(md|markdown|mdown)$
  markdown-link-check: any of: ^docs/.*\.md$ and \.(md|markdown|mdown)$
  cspell: any of: ^docs/.*\.md$ and \.(md|markdown|mdown)$
  rules-validation: any of: ^\.cursor/rules/.*\.mdc$ and \.(md|markdown|mdown)$
