Repository geehexx/traffic-simulator: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, bandit, radon, bazel-build, markdownlint, markdown-link-check, cspell, rules-validation

pyright:
  name: pyright
  entry: timeout 45 uv run pyright --stats
  language: system
  pass_filenames: false

bandit:
  name: bandit
  entry: timeout 30 bash -c 'uv run bandit -r src/ -c config/bandit.yaml'
  language: system
  pass_filenames: false

radon:
  name: radon
  entry: timeout 30 bash -c 'uv run radon cc src/ -a --min B'
  language: system
  pass_filenames: false

bazel-build:
  name: bazel-build
  entry: timeout 60 bazel build --config=precommit //...
  language: system
  pass_filenames: false
  description: Run Bazel build with caching to ensure all targets compile and quality gates pass

markdownlint:
  name: markdownlint
  entry: timeout 30 bash -c 'npx markdownlint docs/**/*.md --ignore docs/prompts/'
  language: system

markdown-link-check:
  name: markdown-link-check
  entry: timeout 30 bash -c 'npx markdown-link-check --config config/markdownlint.yaml docs/**/*.md || true'
  language: system

cspell:
  name: cspell
  entry: timeout 30 bash -c 'npx cspell --config config/cspell.json "docs/**/*.md"'
  language: system

rules-validation:
  name: rules-validation
  entry: timeout 30 bash -c 'python scripts/validate_rules.py'
  language: system

feat: add clean task for temporary files
  Taskfile.yml
Due: none

refactor: standardize test file naming to *_test.py format
  tests/analytics_collision_test.py
  tests/config_loader_test.py
  tests/driver_specs_test.py
  tests/idm_test.py
  tests/logging_test.py
  tests/main_test.py
  tests/rendering_integration_test.py
  tests/sim_test.py
  tests/track_properties_test.py
  tests/track_test.py
Due: bandit, radon, bazel-build

docs: update test file references and add naming standards
  README.md
  docs/DEVELOPMENT.md
  docs/QUALITY_STANDARDS.md
Due: markdownlint, markdown-link-check, cspell

fix: Resolve pre-commit script failures
  mypy.ini
  pyproject.toml
  pyrightconfig.json
  tests/performance_test.py
  uv.lock
Due: bandit, radon, bazel-build

feat: Add comprehensive vehicle physics attributes and constraints
  src/traffic_sim/core/collision.py
  src/traffic_sim/core/performance.py
  src/traffic_sim/core/simulation.py
  src/traffic_sim/core/vehicle.py
  src/traffic_sim/models/vehicle_specs.py
  tests/analytics_collision_test.py
  tests/idm_test.py
Due: pyright, bandit, radon, bazel-build

docs: Add comprehensive documentation for vehicle physics and visual effects
  .cursor/rules/performance-standards.mdc
  .cursor/rules/vehicle-physics-patterns.mdc
  docs/ARCHITECTURE.md
  docs/PERFORMANCE_GUIDE.md
Due: markdownlint, markdown-link-check, cspell

docs: consolidate spec.md into existing documentation
  docs/ARCHITECTURE.md
  docs/QUALITY_STANDARDS.md
  docs/spec.md
Due: markdownlint, markdown-link-check, cspell

docs: update performance/architecture/quality for profiling + high-perf flags; add profiling/benchmark CLIs to docs and workflows
  .github/workflows/benchmark.yml
  .github/workflows/profile.yml
  docs/ARCHITECTURE.md
  docs/PERFORMANCE_GUIDE.md
  docs/QUALITY_STANDARDS.md
  profiling_stats.csv
  scripts/benchmark_highperf.py
  scripts/profile_simulation.py
  src/traffic_sim/core/adaptive_time.py
  src/traffic_sim/core/data_manager.py
  src/traffic_sim/core/hud.py
  src/traffic_sim/core/idm_vectorized.py
  src/traffic_sim/core/physics_vectorized.py
  src/traffic_sim/core/profiling.py
  src/traffic_sim/core/simulation.py
  tests/adaptive_time_test.py
  tests/data_manager_test.py
  tests/idm_vectorized_test.py
  tests/performance_highperf_test.py
  tests/performance_smoke_test.py
  tests/physics_vectorized_test.py
  tests/profiling_test.py
Due: pyright, bandit, radon, bazel-build, markdownlint, markdown-link-check, cspell

feat: implement version-based prompt management system
  prompts/generate_docs_v2_2_0.json
  prompts/manifest.json
  prompts/prompt_version_manager.json
Due: none

refactor: simplify prompt version management system
  docs/PRODUCTION_SYSTEM_RESTORATION_PROMPT.md
  docs/PROMPT_VERSION_MANAGEMENT.md
  prompts/generate_docs_v2_2_0.json
  prompts/manifest.json
  scripts/prompt_version_manager.py
Due: bandit, radon, bazel-build, markdownlint, markdown-link-check, cspell

feat: implement semantic versioning in MCP server
  mcp/mcp_traffic_sim/production_server.py
  prompts/generate_docs_v1_0_0.json
  prompts/generate_docs_v2_1_0.json
  prompts/manifest.json
  prompts/prompt_version_manager.json
  scripts/prompt_version_manager.py
Due: bandit, radon, bazel-build

Fix prompt directory structure and implement Prompt Wizard system
  mcp/FINAL_DIRECTORY_STRUCTURE.md
  mcp/PROMPT_DIRECTORY_CLARIFICATION.md
  mcp/PROMPT_WIZARD_GUIDE.md
  mcp/PROMPT_WIZARD_SUMMARY.md
  mcp/fastmcp_production_server.py
  mcp/test_prompt_wizard.py
  prompts/prompt-wizard-advanced.json
  prompts/prompt-wizard-scenarios.json
  prompts/prompt-wizard.json
Due: bandit, radon, bazel-build

feat: create exciting new README.md showcasing advanced features
  README.md
Due: none

feat: add commit redistribution scripts
  execute_redistribution.py
  node_modules/yargs/locales/uz.json
Due: bandit, radon, bazel-build

feat: add commit redistribution scripts
  execute_redistribution.py
Due: bandit, radon, bazel-build

feat: complete commit redistribution system
  date_mapping.txt
Due: none

chore: ignore node_modules
  .gitignore
Due: none

Path conditions:
  pyright: any of: ^src/.*\.py$ and \.py$
  bandit: any of: \.py$
  radon: any of: \.py$
  bazel-build: any of: \.py$
  markdownlint: any of: ^docs/.*\.md$ and \.(md|markdown|mdown)$
  markdown-link-check: any of: ^docs/.*\.md$ and \.(md|markdown|mdown)$
  cspell: any of: ^docs/.*\.md$ and \.(md|markdown|mdown)$
  rules-validation: any of: ^\.cursor/rules/.*\.mdc$ and \.(md|markdown|mdown)$
