Repository geehexx/traffic-simulator: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, bandit, radon, bazel-build, markdownlint, markdown-link-check, cspell, rules-validation

pyright:
  name: pyright
  entry: timeout 45 uv run pyright --stats
  language: system
  pass_filenames: false

bandit:
  name: bandit
  entry: timeout 30 bash -c 'uv run bandit -r src/ -c config/bandit.yaml'
  language: system
  pass_filenames: false

radon:
  name: radon
  entry: timeout 30 bash -c 'uv run radon cc src/ -a --min B'
  language: system
  pass_filenames: false

bazel-build:
  name: bazel-build
  entry: timeout 60 bazel build --config=precommit //...
  language: system
  pass_filenames: false
  description: Run Bazel build with caching to ensure all targets compile and quality gates pass

markdownlint:
  name: markdownlint
  entry: timeout 30 bash -c 'npx markdownlint docs/**/*.md --ignore docs/prompts/'
  language: system

markdown-link-check:
  name: markdown-link-check
  entry: timeout 30 bash -c 'npx markdown-link-check --config config/markdownlint.yaml docs/**/*.md || true'
  language: system

cspell:
  name: cspell
  entry: timeout 30 bash -c 'npx cspell --config config/cspell.json "docs/**/*.md"'
  language: system

rules-validation:
  name: rules-validation
  entry: timeout 30 bash -c 'python scripts/validate_rules.py'
  language: system

docs: fully replace README; finalize uv + Taskfile + pre-commit; fix CI
  README.md
Due: none

docs(cursor): add project structure, coding standards, testing, and workflow rules
  .cursor/rules/coding-standards.mdc
  .cursor/rules/project-structure.mdc
  .cursor/rules/testing-guidelines.mdc
  .cursor/rules/workflow.mdc
Due: none

feat(render,core): fix left-arc heading and vehicle rotation; hud toggle text spacing; docs: controls, development checkpoint, spec note; tests green
  README.md
  docs/DEVELOPMENT.md
  docs/spec.md
  src/traffic_sim/core/driver.py
  src/traffic_sim/core/simulation.py
  src/traffic_sim/core/track.py
  src/traffic_sim/core/vehicle.py
  src/traffic_sim/render/app.py
  tests/test_idm.py
  tests/test_sim.py
Due: pyright, bandit, radon, bazel-build, markdownlint, markdown-link-check, cspell

docs(cursor): add rendering/arcade compat, determinism contracts, and handoff guide rules
  .cursor/rules/determinism-contracts.mdc
  .cursor/rules/handoff-guide.mdc
  .cursor/rules/rendering-arcade-compat.mdc
Due: none

feat: enhance driver parameter sampling with Gaussian copula correlation
  src/traffic_sim/core/driver.py
Due: pyright, bandit, radon, bazel-build

feat: add realistic vehicle dynamics with jerk limiting and drivetrain lag
  src/traffic_sim/core/vehicle.py
Due: pyright, bandit, radon, bazel-build

feat: enhance IDM controller with per-driver parameters and speeding behavior
  src/traffic_sim/core/simulation.py
Due: pyright, bandit, radon, bazel-build

test: add comprehensive tests for enhanced driver and vehicle dynamics
  tests/test_idm.py
  tests/test_sim.py
Due: bandit, radon, bazel-build

docs: update development notes for Phase 1 completion
  docs/DEVELOPMENT.md
Due: markdownlint, markdown-link-check, cspell

feat: optimize Cursor rules for better maintainability
  .cursor/rules/development-workflow.mdc
  .cursor/rules/driver-vehicle-dynamics.mdc
  .cursor/rules/handoff-guide.mdc
  .cursor/rules/idm-controller.mdc
  .cursor/rules/phase1-architecture.mdc
  .cursor/rules/testing-guidelines.mdc
  .cursor/rules/testing-patterns.mdc
  .cursor/rules/workflow.mdc
Due: none

docs: fix corrupted README.md with comprehensive project documentation
  README.md
Due: none

fix: resolve H key crash and add HUD regression tests
  src/traffic_sim/core/hud.py
  tests/test_idm.py
Due: pyright, bandit, radon, bazel-build

feat: integrate occlusion-based perception and SSD into simulation and HUD; update config and docs
  .coverage
  .vscode/settings.json
  config/config.yaml
  docs/DEVELOPMENT.md
  src/traffic_sim/core/hud.py
  src/traffic_sim/core/simulation.py
  src/traffic_sim/render/app.py
Due: pyright, bandit, radon, bazel-build, markdownlint, markdown-link-check, cspell

feat: add comprehensive Cursor rules for development guidance
  .cursor/rules/arcade-optimization.mdc
  .cursor/rules/hud-development.mdc
  .cursor/rules/performance-targets.mdc
  .cursor/rules/phase2-perception.mdc
  .cursor/rules/phase3-roadmap.mdc
  .cursor/rules/testing-patterns.mdc
Due: none

feat: optimize Cursor rules with research-based quality metrics
  .cursor/rules/arcade-optimization.mdc
  .cursor/rules/hud-development.mdc
  .cursor/rules/performance-targets.mdc
  .cursor/rules/phase2-perception.mdc
  .cursor/rules/rule-generation-standard.mdc
Due: none

refactor: eliminate temporary content and optimize rule targeting
  .cursor/rules/arcade-optimization.mdc
  .cursor/rules/hud-development.mdc
  .cursor/rules/perception-system.mdc
  .cursor/rules/performance-targets.mdc
  .cursor/rules/phase3-roadmap.mdc
  .cursor/rules/rule-generation-standard.mdc
Due: none

refactor: remove phase1-architecture.mdc (temporary content)
  .cursor/rules/phase1-architecture.mdc
Due: none

feat: configure enhanced type checking and fix type annotations
  .pre-commit-config.yaml
  mypy.ini
  pyproject.toml
  src/traffic_sim/core/driver.py
  src/traffic_sim/core/hud.py
  src/traffic_sim/core/logging.py
  src/traffic_sim/core/simulation.py
  src/traffic_sim/core/vehicle.py
  src/traffic_sim/py.typed
  src/traffic_sim/render/app.py
  stubs/arcade/__init__.pyi
  stubs/pymunk/__init__.pyi
Due: pyright, bandit, radon, bazel-build

feat: add advanced static analysis tools and configurations
  bandit.yaml
  pylintrc
  pyrightconfig.json
  radon.cfg
Due: none

feat: implement quality gates and monitoring system
  quality_gates.yaml
  scripts/quality_gates.py
  scripts/quality_monitor.py
  scripts/static_analysis.py
Due: bandit, radon, bazel-build

feat: integrate quality gates into CI/CD pipeline
  .github/workflows/ci.yml
  .pre-commit-quality-gates.yaml
Due: none

docs: add comprehensive static analysis and development documentation
  README.md
  docs/development.md
  docs/static-analysis.md
Due: markdownlint, markdown-link-check, cspell

feat: add comprehensive Cursor Rules for project guidance
  .cursor/rules/configuration-management.mdc
  .cursor/rules/documentation-standards.mdc
  .cursor/rules/performance-optimization.mdc
  .cursor/rules/project-overview.mdc
  .cursor/rules/quality-gates-enforcement.mdc
  .cursor/rules/rendering-patterns.mdc
  .cursor/rules/simulation-architecture.mdc
  .cursor/rules/static-analysis-standards.mdc
  .cursor/rules/testing-standards.mdc
Due: none

Fix critical issues and improve test coverage
  .cursor/rules/arcade-api-consistency.mdc
  .cursor/rules/rule-generation-standard.mdc
  .pre-commit-config.yaml
  docs/PERFORMANCE_GUIDE.md
  quality_gates.yaml
  scripts/quality_gates.py
  src/traffic_sim/core/driver.py
  src/traffic_sim/core/hud.py
  stubs/arcade/__init__.pyi
  tests/test_config_loader.py
  tests/test_driver_specs.py
  tests/test_logging.py
  tests/test_main.py
  tests/test_rendering_integration_test.py
  tests/test_sim.py
  tests/test_track.py
Due: pyright, bandit, radon, bazel-build, markdownlint, markdown-link-check, cspell

docs: add comprehensive Cursor rules and quality gates documentation
  docs/CURSOR_RULES.md
  docs/QUALITY_GATES_GUIDE.md
  docs/prompts/README.md
Due: markdownlint, markdown-link-check, cspell

docs: update coverage threshold from 80% to 70%
  docs/DEVELOPMENT.md
  docs/QUALITY_STANDARDS.md
Due: markdownlint, markdown-link-check, cspell

docs: update performance metrics and quality gates integration
  README.md
  docs/ARCHITECTURE.md
Due: markdownlint, markdown-link-check, cspell

docs(rules): add HUD occlusion panel guidance and configuration section; enforce one-way linking
  .cursor/rules/configuration-patterns.mdc
  .cursor/rules/rendering-patterns.mdc
Due: none

docs: normalize EOF in spec; complete HUD internal-link updates
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT.md
  docs/spec.md
Due: markdownlint, markdown-link-check, cspell

chore(prompts): apply pre-commit whitespace/EOF fixes to prompts
  docs/prompts/README.md
  docs/prompts/generate-docs.md
  docs/prompts/generate-rules.md
Due: markdownlint, markdown-link-check, cspell

docs(prompts): add APE workflow, rubrics, and link policy to prompts README
  docs/prompts/README.md
Due: markdownlint, markdown-link-check, cspell

docs(prompts): add unified super-prompt and remove legacy prompts; update index
  docs/prompts/README.md
  docs/prompts/generate-docs.md
  docs/prompts/generate-rules.md
  docs/prompts/generate-super.md
Due: markdownlint, markdown-link-check, cspell

docs: update documentation and rules for accuracy and completeness
  docs/ARCHITECTURE.md
  docs/CURSOR_RULES.md
  docs/PERFORMANCE_GUIDE.md
Due: markdownlint, markdown-link-check, cspell

feat: implement live analytics, collision systems, and data logging
  .cursor/rules/rule-generation-standard.mdc
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  config/config.yaml
  pylintrc
  pyrightconfig.json
  scripts/quality_gates.py
  scripts/quality_monitor.py
  scripts/static_analysis.py
  src/traffic_sim/core/analytics.py
  src/traffic_sim/core/analytics_hud.py
  src/traffic_sim/core/collision.py
  src/traffic_sim/core/hud.py
  src/traffic_sim/core/logging.py
  src/traffic_sim/core/perception.py
  src/traffic_sim/core/simulation.py
  src/traffic_sim/render/app.py
  stubs/pymunk/__init__.pyi
  tests/conftest.py
  tests/test_analytics_collision_test_test.py
  tests/test_config_loader_test.py
  tests/test_driver_specs_test.py
  tests/test_idm_test.py
  tests/test_logging_test.py
  tests/test_main_test.py
  tests/test_rendering_integration_test_test.py
  tests/test_sim_test.py
  tests/test_track_properties_test.py
  tests/test_track_test.py
Due: pyright, bandit, radon, bazel-build

docs: update README.md with new analytics and collision features
  README.md
Due: none

docs: update documentation and rules for Phase 3 analytics and collision features
  .cursor/rules/performance-standards.mdc
  .cursor/rules/project-context.mdc
  .cursor/rules/simulation-patterns.mdc
  docs/ARCHITECTURE.md
  docs/PERFORMANCE_GUIDE.md
  docs/spec.md
Due: markdownlint, markdown-link-check, cspell

style: apply code formatting fixes
  mypy.ini
  src/traffic_sim/core/analytics_hud.py
  src/traffic_sim/core/hud.py
  src/traffic_sim/core/logging.py
  src/traffic_sim/core/simulation.py
  stubs/arcade/__init__.pyi
  stubs/pymunk/__init__.pyi
  tests/test_logging_simple_test.py
  tests/test_logging_test.py
Due: pyright, bandit, radon, bazel-build

style: fix end-of-file formatting in consolidated test file
  tests/test_logging_test.py
Due: bandit, radon, bazel-build

Remove deleted test file before history cleanup
  tests/test_logging_simple_test.py
Due: bandit, radon, bazel-build

Path conditions:
  pyright: any of: ^src/.*\.py$ and \.py$
  bandit: any of: \.py$
  radon: any of: \.py$
  bazel-build: any of: \.py$
  markdownlint: any of: ^docs/.*\.md$ and \.(md|markdown|mdown)$
  markdown-link-check: any of: ^docs/.*\.md$ and \.(md|markdown|mdown)$
  cspell: any of: ^docs/.*\.md$ and \.(md|markdown|mdown)$
  rules-validation: any of: ^\.cursor/rules/.*\.mdc$ and \.(md|markdown|mdown)$
